html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial;
}

button {
    cursor: pointer;
}

#header {
    position: fixed;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #222C58;
    color: #fff;
    z-index: 3;
}

#header > div:last-child {
    margin-left: auto;
}

#header button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 5px;
    color: #fff;
}

#header img {
    height: 20px;
}

#header a {
    margin-right: 30px;
    color: #fff;
}

#header a:link {
    color: #fff;
    text-decoration: none;
}

#header a:visited {
    color: #fff;
}

#header a:hover {
    color: #fff;
    text-decoration: underline;
}

#header a:active {
    color: #fff;
}

input:focus {
    outline: 3px solid black;
    outline-offset: 2px;
}

button:focus, button:hover {
    outline: 3px solid black;
    outline-offset: 2px;
}

#qea p {
    text-align: justify;
}

summary:hover {
    cursor: pointer;
}