body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
}

body p {
    font-size: 20px;
}

#container {
    margin-top: calc(5vh + 60px);
}

h1 {
    color: #222C58;
    font-size: 50px;
    font-weight: 900;
}

.question {
    font-size: 30px;
    font-weight: 600;
}

#container, #qea {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-color: #b2eaff;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vh;
}

input, #container button {
    font-size: 20px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 10px;
}

input {
    background-color: whitesmoke;
}

button:not(:disabled) {
    border-radius: 10px;
    background-color: #222C58;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}

#time-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #222C58;
    color: #fff;
    font-size: 15px;
    align-items: center;
    top: calc(2vh + 60px);
    right: 2vh;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    padding: 2%;
}

#time-container > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

#total-time, #avg-time {
    font-size: 20px;
}

#time-header > button {
    font-size: 20px;
    background-color: #fff;
    border: transparent;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.image-container p {
    font-weight: 600;
}

#next-container, #recall {
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

#congratulations {
    font-weight: 600;
}