body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
}

body p {
    font-size: 20px;
}

#container {
    margin-top: calc(5vh + 60px);
}

h1 {
    color: #222C58;
    font-size: 50px;
    font-weight: 900;
}

.question {
    font-size: 30px;
    font-weight: 600;
}

#container, #qea, .palace-container, .room-container {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-color: #b2eaff;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vh;
}

input, #container button {
    font-size: 20px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 10px;
}

input {
    background-color: whitesmoke;
    width: calc(80% - 30px);
    max-width: 400px;
}

button:not(:disabled) {
    border-radius: 10px;
    background-color: #222C58;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}

#container .minus {
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 15px;
    margin-left: 5px;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 66, 66);
    border: 1px solid rgb(90, 0, 0);
    color: black;
}

.all-loci-container {
    margin-left: 20%;
}

.palace-container, .room-container {
    margin-top: 2vh;
}

#submit-loci {
    display: flex;
    justify-self: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-opacity {
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-disappear {
    animation-name: disappear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#container, #qea {
    animation: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}