body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
}

body p {
    font-size: 20px;
}

#container {
    margin-top: calc(5vh + 60px);
}

h1 {
    color: #222C58;
    font-size: 50px;
    font-weight: 900;
}

.question {
    font-size: 30px;
    font-weight: 600;
}

#container, #qea, #scoreboard {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-color: #b2eaff;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vh;
}

input, #container button, #scoreboard button {
    font-size: 20px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 10px;
}

input {
    background-color: whitesmoke;
}

button:not(:disabled) {
    border-radius: 10px;
    background-color: #222C58;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}

.download-btn {
    display: flex;
    justify-self: center;
}

#container > p {
    text-align: justify;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#container {
    animation: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}